* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

.signin_card {
    width: 392px;
    height: fit-content;
    background-color: white;
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
}

.top_si_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.si_card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_part_header {
    font-weight: 600;
    font-size: larger;
}

.bottom_part_header {
    font-weight: 100;
    color: grey;
    font-size: smaller;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: gray;
}

.forms input {
    border: 1px rgb(211, 211, 211) solid;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    color: rgb(167, 167, 167);
    padding-left: 10px;
    padding-right: 10px;
}

.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -21px;
    position: relative;
    z-index: 2;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.continue button {
    background-color: rgb(219, 39, 39);
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
    border: 0px;
}

.continue_w_google button {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.policy {
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.agreement {
    width: 200px;
}

.bottom_si_card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    font-weight: 600;
    background-color: rgb(214, 214, 214);
}

.form_results {
    width: 380px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgb(184, 184, 184);
    padding: 30px;
    text-align: center;
}

.form-result-text {
    font-weight: 600;
    font-size: 24px;
    color: #3b3b3b;
    margin-bottom: 20px;
}

.data-gathered {
    font-size: 16px;
    color: #555;
}

.data-gathered span {
    font-weight: bold;
    color: #333;
}
